{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="login-card" class="card p-4 shadow rounded">
                    <div class="mb-5 text-center">
                        <h1>Third-Party Login Failure</h1>
                        <p>An error occurred while attempting to login via your third-party account.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #login-card{
            background-color: #1c1b1d;
            color: #f36c1d;
        }
        .btn{
            background-color: #f36c1b; color: #1c1b1d;
            box-shadow: inset 4px 4px 4px 0px #00000033; 
        }
        .btn:hover{
            background-color: #b5c9dc; color: #1c1b1d;
            box-shadow: inset 4px 4px 4px 0px #00000033; 
        }
    </style>
{% endblock content %}