{% extends "base.html" %}
{% load i18n %}
{% load allauth socialaccount %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="login-card" class="card p-4 shadow rounded">
                    <div class="mb-5 text-center">
                        <h1>Account Connections</h1>
                        <p>You currently have no third-party accounts connected to this account.</p>
                    </div>
                    <div class="mb-3 text-center">

                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            {% for provider in socialaccount_providers %}
                                <div class="mb-3 text-center">
                                    {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                                    <a class="btn btn-block" title="{{ provider.name }}" href="{{ href }}">{{ provider.name }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}