{% with id=widget.attrs.id %}
{% load utility %}
<div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        {% for  fild  in widget.fields %}
          <th>{{ fild }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for group, options, index in widget.optgroups %}

        {% if group %}
        <tr>
          <td>
            <label>{{ group }}</label>
          </td>
        </tr>
        {% endif %}
      
        {% for option in options%}
          <tr>
            <td scope="row">
              <input type="{{ option.type }}" name="{{ option.name }}"{% if option.value != None %} value="{{ option.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
            </td>
            {% for  fild  in widget.fields %}
              <td>{{ option.value.instance|get_attr:fild }}</td>
            {% endfor %}
          <tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endwith %}